doctype
html
  head
    title= "Chit Chat"
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    link(rel='stylesheet', href='style.css')
  body
    h1#title Chit Chat!
    #content
    .controls
      input#name(autofocus, placeholder= 'Name')
      br
      input#field(placeholder= 'Message')
      br
      input#send(type='button', value='send')

